<!-- This is a csHTML (C#HTML) page -->

@{ 
    ViewBag.Title = "Home";
}

<h1>Welcome to the Index</h1>

<!-- This is called Razor syntax, C# on a a view -->
@*@if (DateTime.Today.DayOfWeek == DayOfWeek.Monday)
{
    <h2>You have a case of the Mondays!</h2>
}
else
{
    <h2>Thank goodness Monday is over</h2>
}*@

<h2>@ViewBag.Message</h2>
    

<ul>
    @for (int i = 1; i < 100; i++)
    {
        <li>Product #@i</li>
    }
</ul>

<br /><br />
@Html.ActionLink("Contact Us", "Contact", "Home")@*This one has you specify your controller*@
<br /><br />
@Html.ActionLink("Contact Page", "Contact") @*This one assumes you're using the controller you're in*@
<br /><br />
@Html.ActionLink("Break Time?", "Krista", "Home")
